.footerWrapper {
  position: sticky;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  background-color: var(--colors--menu-and-footer-bg);
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
}

.footer {
  z-index: 0;
  color: var(--colors--text-light);
  text-align: center;
}

.sectionHeadingSupportingText {
  padding-top: 1.75rem;
  padding-bottom: 1rem;
}

.footerContentWrapper {
  font-size: 1rem;
  line-height: 130%;
}

.lastParagraph {
  margin-bottom: 0;
}